/* ===============================
   DATATABLE COMMON STYLE
================================ */

.dt-col-no {
    width: 32px;
    min-width: 32px;
    max-width: 32px;
    text-align: center;
    white-space: nowrap;
}
